body{
    margin: 0 10%;
}
section{
    margin: 5% 0;
}
section h1{
    font-size: 2ch;
    text-align: center;
}
section h3, p{
    font-size: 2ch;
    text-align: justify;
}
section li{
    list-style: circle;
}
#prezentare{
    background-image: url(/img/2023-03-01-15-00-59-333.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    height: 70vh;
}
.poveste{
    margin: auto;
    width: 75%;
    text-align: justify;
}
iframe{
    width: 100%;
    height: 500px;
}
.echipa div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.echipa div img{
    width: 20%;
}
#prezentare2{
    background-image: url(/img/kids-running.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    height: 70vh;
}
#prezentare3{
    background-image: url(/img/pasiv.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    height: 70vh;
}
#prezentare4{
    background-image: url(/img/echipament-criosauna-terapie-prin-frig-beneficii-aplicatii-multiple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    height: 70vh;
}