body{
    background: white;
    margin: 0 10%;
}
::-webkit-scrollbar{
    width: 0.3em;
}
::-webkit-scrollbar-thumb{
    width: 1%;
    background:linear-gradient(to bottom, blue, green);
    border-radius: 500px;
}
#echipamente div{
    margin: 5% 0;
}
.pozeStanga{
    text-align: center;
}
#echipamente h1{
    text-align: center;
    font-size: 1.5em;
}
#echipamente p{
    font-size: 1.3em;
    background: rgba(128, 128, 128, 0.114);  
}
.eq3{
    background-image: url("/img/limfactic.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.eq4{
    background-image: url("/img/shock.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.eq5{
    background-image: url("/img/crio.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.eq6{
    background-image: url("/img/fan.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.eq7{
    background-image: url("/img/pasiv.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.eq8{
    background-image: url("/img/optica.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}