footer{
    margin: 5% 0;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}
footer img{
    text-align: left;
    cursor: pointer;
    width: 5%;
    text-align: left;
}
footer p{
    font-size: 12px;
    text-align: right;
}