body{
    margin:0 10%;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-shadow: 0 0 2px blue;
}
h1{
    align-self: flex-start;
}
h2{
    text-align: center;
}
section{
    margin-top: 10%;
}
div li, div li:hover {
    cursor: auto;
    background-color: white;
    list-style: circle;
}
section img{
    width: 30%;
    height: 30%;
}
.paragraf1 {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: center;
}
.paragraf2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#preturi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
}
table caption{
    font-size: 3ch;
}
table,tr,td{
    word-wrap: break-word;
    padding: 1%;
    text-align: center;
    font-size: 2ch;
    border-collapse: collapse;
    border: 5px double pink;
}
@media screen and (min-width: 1024px) {
    .paragraf1 {
        font-size: xx-large;
    }
    .paragraf2{
        font-size: xx-large;
    }

}