body{
    background: white;
    margin: 0, 10%;
}
::-webkit-scrollbar{
    width: 0.3em;
}
::-webkit-scrollbar-thumb{
    width: 1%;
    background:linear-gradient(to bottom, blue, green);
    border-radius: 500px;
}