
footer{
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
form{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
input{
    text-align: center;
    opacity: 0.8;
    margin: 0.5em;
    font-size: 2ch;
}
textarea{
    opacity: 0.8;
    text-align: center;
    font-size: 2ch;
}
input:hover{
    opacity: 1;
    transform: scale(1.1);
    transition: 0.1s;
}
select{
    opacity: 0.8;
    font-size: 2ch;
}
select:hover{
    opacity: 1;
    transform: scale(1.1);
    transition: 0.1s;
}
textarea:hover{
    opacity: 1;
    transform: scale(1.1);
    transition: 0.1s;
}
input:focus{
    opacity: 1;
    transform: scale(1.1);
    transition: 0.1s;
}
textarea:focus{
    opacity: 1;
    transform: scale(1.1);
    transition: 0.1s;
}
a{
    text-decoration: none;
    color: red;
}