html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(to BOTTOM, #93C6E7, #B9F3FC);
    margin: 1%;
    padding: 0%;
}
.bloc{
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
/* ceva nu e bine aici, s-ar putea sa le dau id-uri div-urilor */
.div1{
    background-image: url("./img/cool-panurama.jpg");
}
.div2{
    background-image: url("./img/cool-panurama.jpg");
}
.div3{
    background-image: url("./img/cool-panurama.jpg");
}
.bloc div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center  ;
    font-size: 1.7ch;
    border-radius: 20px;
    max-width: 250px;
    height: 480px;
}
.bloc div img{
    width: 10%;
}
.bloc div h3{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: rgb(92, 208, 92) 1px 2px 2px;
}
.bloc div p{
    margin: auto;
    max-width: 200px;
    color: whitesmoke;
}
.bloc div a{
    font-style: oblique;
    color: white;
    text-decoration: none;
}
.bloc div a:hover{
    text-shadow: 0 0 5px blue;
    color: white;
    text-decoration: none;
}
table,caption,tr{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-collapse: collapse;
    border: 1px red solid;
    /* border: 1px solid blue; */
    background-color: rgba(255, 255, 255, 0.282);
    margin: auto;
    color: black;
}
/* big screen */
/* @media screen and (min-width: 751px) */