header{
    position: sticky;
    top: 10px;
}
/* toate listele trebuie sa ascunda obtiunile, cand dai hover ele sa apara */
nav{
    display: flex;
    justify-content: space-evenly;
}
ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
ul a{
    text-decoration: none;
    color: rgba(10, 10, 162, 0.688);
}
ul a:hover{
    color: rgb(173, 216, 230);
}